<!DOCTYPE html>
<html>
<head>
  <title>PragProg Books Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
    <div id="banner">
        <%= @page_title || "Pragmatic Bookshelf" %>
    </div>

    <div id="columns">
        <div id="side">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Questions</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <span>Rendered at:</span>
            <div id="time">
                <%= Time.now.to_formatted_s(:short)  %>
            </div>
        </div>
    </div>

    <div id="main">
        <%= yield %>
    </div>

</body>
</html>
